<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">S.G.Koppada</a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">24K Gold Price: 48000</a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">22K Gold Price: 48000</a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">Silver Price: 48000</a>
</nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" (click)="dashboard()">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="orders()">
                <span data-feather="file"></span>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="catalog()">
                <span data-feather="shopping-cart"></span>
                Catalog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" (click)="customer()">
                <span data-feather="users"></span>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="reports()">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="invoice()">
                <span data-feather="layers"></span>
                Invoice
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="estimate()">
                <span data-feather="layers"></span>
                Estimate
              </a>
            </li>
          </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Daily Analysis</span>
            <a class="d-flex align-items-center text-muted">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="file-text"></span>
                Day to Day
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="file-text"></span>
                Week to Week
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="file-text"></span>
                Month to Month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="file-text"></span>
                Year-end
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Save</button>
              <button class="btn btn-sm btn-outline-secondary">Print</button>
            </div>      
          </div>
        </div>
      </main>
      <div class="container">
        <div class="row">
          <div class="col-sm">
          </div>
          <div class="col-7">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Orders</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Outstanding</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Shrikant Badiger</td>
                  <td>Indi</td>
                  <td>1234567890</td>
                  <td><a href="">5</a></td>
                  <td>13500</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Sampat Rathod</td>
                  <td>Indi</td>
                  <td>1234567890</td>
                  <td><a href="">5</a></td>
                  <td>13500</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Ravi Devar</td>
                  <td>Indi</td>
                  <td>1234567890</td>
                  <td><a href="">5</a></td>
                  <td>13500</td>
                  <td>0.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
    </div>
  </div>  