<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">S.G.Koppada</a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">24K Gold Price: 48000</a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">22K Gold Price: 48000</a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">Silver Price: 48000</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" (click)="dashboard()">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="orders()">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="catalog()">
              <span data-feather="shopping-cart"></span>
              Catalog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="customer()">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="reports()">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="invoice()">
              <span data-feather="layers"></span>
              Invoice
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="estimate()">
              <span data-feather="layers"></span>
              Estimate
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Daily Analysis</span>
          <a class="d-flex align-items-center text-muted">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link">
              <span data-feather="file-text"></span>
              Day to Day
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <span data-feather="file-text"></span>
              Week to Week
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <span data-feather="file-text"></span>
              Month to Month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <span data-feather="file-text"></span>
              Year-end
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Save</button>
            <button class="btn btn-sm btn-outline-secondary" printSectionId="print-section" [useExistingCss]="true" ngxPrint>Print</button>
          </div>      
        </div>
      </div>
    </main>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-10">
          <div class="row mb-4">
            <div class="col-sm-6">
                <h3 class="text-dark mb-1">S G Koppada Jewellers</h3>
                <div>Indi, Bijapur, Pincode: 586209</div>
                <div>Phone: +919590079999</div>
                <div>GST IN:29BMXPK5218C1Z</div>
                <div>Date: {{todayDate | date:'short':'IST'}}</div>
            </div>
            <div class="col-sm-6">
              <table>
                <tr>
                  <th>
                    Name:
                  </th> 
                  <th>
                    <input style="border: 0ch;"  [(ngModel)]="custname" type="text" name="customer name" id="custname" value="" required><br>
                  </th>
                </tr>
                <tr>
                  <th>
                    Address:
                  </th> 
                  <th>
                    <input style="border: 0ch;" [(ngModel)]="custAddress" type="text" name="customer Address" id="custAddress" value="" required><br>
                  </th>
                </tr>
                <tr>
                  <th>
                    Phone:
                  </th> 
                  <th>
                    <input style="border: 0ch;" [(ngModel)]="custPhone" type="text" name="customer phone" id="custPhone" value="" required minlength="10"><br>
                  </th>
                </tr>
              </table>
            </div>
        </div>

        <div class="col-9">
          <div class="row mb-4">
            <div class="col-sm-8">
              <table class="table table-striped table-bordered">
              <thead class="thead-dark">
                    <tr>
                        <th scope="col">Particular</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Price</th>
                        <th scope="col">Making Charge</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Action</th>
                    </tr>
               </thead>
               <tbody>
                    <tr *ngFor="let order of orderList; let i = index">
                        <!--<td scope="row" >{{order.id}} </td>-->
                           <!--<input style="border: 0ch;" [(ngModel)]="order.id" type="text" name="{{order.id}}" />-->
                        <td scope="row"> {{order.description}}
                            <!--<input style="border: 0ch;" [(ngModel)]="order.description" class="form-control" type="text" name="{{order.description}}" />-->
                        </td>
                        <td scope="row">{{order.weight}}
                           <!-- <input style="border: 0ch;" [(ngModel)]="order.quantity" class="form-control" type="text" name="{{order.quantity}}" />-->
                        </td>
                        <td scope="row"> {{order.price|currency:'INR'}}
                          <!--<input style="border: 0ch;" [(ngModel)]="order.weight" class="form-control" type="text" name="{{order.weight}}" disabled/>-->
                        </td>
                        <td scope="row">{{order.makingCharge|currency:'INR'}}
                          <!--<input style="border: 0ch;" [(ngModel)]="order.makingCharge" class="form-control" type="text" name="{{order.makingCharge}}" disabled/>-->
                        </td>
                        <td scope="row">{{order.amount|currency:'INR'}}
                         <!--<input style="border: 0ch;" [(ngModel)]="order.amount" class="form-control" type="text" name="{{order.amount}}" disabled/>-->
                        </td>
                        <td scope="row">
                            <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <!--<td>
                            <input   type="text" id="newAttributeID"  [(ngModel)]="newAttribute.id" name="newAttributeCode" />
                        </td> -->
                        <td>
                            <input  type="text" id="newAttributeName" [(ngModel)]="newAttribute.description" name="newAttributeName" />
                        </td>
                        <td>
                            <input type="text" id="newAttributeWight" [(ngModel)]="newAttribute.wight" name="newAttributeWeight"
                              (ngModelChange)="getAmount(newAttribute.wight,newAttribute.price,newAttribute.makingCharge)" />
                        </td>
                        <td>
                          <input type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice"
                            (ngModelChange)="getAmount(newAttribute.wight,newAttribute.price,newAttribute.makingCharge)" />
                      </td>
                      <td>
                        <input type="text" id="newAttributMakingCharge" [(ngModel)]="newAttribute.makingCharge" name="newAttributeCharge"
                          (ngModelChange)="getAmount(newAttribute.wight,newAttribute.price,newAttribute.makingCharge)" />
                        </td>
                        <td>
                          <!--<input type="text" id="newAttributePrice" [(ngModel)]="{{calucatedAmount}}" name="newAttributePrice" />-->
                          {{calucatedAmount}}
                      </td>
                        <td>
                            <button type="button"
                              (click)="addFieldValue(newAttribute.id,newAttribute.description,newAttribute.wight,newAttribute.price,newAttribute.makingCharge)">Add</button>
                        </td>
                    </tr>
                </tbody>
                <thead class="thead-dark">
                  <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">Total</th>
                      <th scope="col">{{totalAmount|currency:'INR'}}</th>
                      
                  </tr>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">CGST:<input type="text" id="cgst" [(ngModel)]="cgst" name="cgst" value=0
                        (ngModelChange)="updateTotal_byCGST(cgst)" /></th>
                    <th scope="col">
                      <!-- <input   type="text" id="advance" [(ngModel)]="advance" name="advance" value=0/>-->
                      {{calculatedCgst|currency:'INR'}}
                    </th>
                    <!--<th scope="col"><button  type="button" (click)="addAdvance(advance)">Add</button></th>-->
                    <th></th>
                    </tr>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">SGST:<input type="text" id="sgst" [(ngModel)]="sgst" name="sgst" value=0
                          (ngModelChange)="updateTotal_bySGST(sgst)" /></th>
                      <th scope=" col">
                        <!-- <input type="text" id="caluatedSgst" [(ngModel)]="caluatedSgst" name="caluatedSgst" value=0 />-->
                        {{calculatedSgst|currency:'INR'}}
                      </th>
                      <!--<th scope="col"><button type="button" (click)="addAdvance(advance)">Add</button></th>-->
                      <th></th>
                    </tr>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                        <th scope="col">Payable</th>
                        <th scope="col">{{totalPayable|currency:'INR'}}</th>
                  <th scope="col"></th>
              </tr>
              </thead>
            </table>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div style="display: none;" id="print-section">
  <table class="table">
    <tr>
      <th style="font-family: 'Courier New', monospace;">INVOICE: {{invoiceNum}}</th>
      <th style="font-family: 'Courier New', monospace;">Date:{{todayDate | date:'short':'IST'}}</th>
    </tr>
  </table>
  <table  class="table">
    <tr>
      <th style="font-family: 'Courier New', monospace;">From:</th>
      <th style="font-family: 'Courier New', monospace;">To:</th>
    </tr>
    <tr>
      <td style="font-family: 'Courier New', monospace;">
      <div>S G Koppada Jewellers</div>
      <div>Indi, Bijapur, Pincode:586209</div>
      <div>Phone: +919590079999</div>
      <div>GST IN:29BMXPK5218C1ZQ</div>
      
      </td>
       <td style="font-family: 'Courier New', monospace;">
      <div>{{custname}}</div>
      <div>{{custAddress}}</div>
      <div>{{custPhone}}</div>
      </td>
    </tr>

  </table>
  <table  class="table  table-bordered">
        <tr style="font-family: 'Courier New', monospace;">
          <th style="font-family: 'Courier New', monospace;">Particular</th>
          <th style="font-family: 'Courier New', monospace;">Weight</th>
          <th style="font-family: 'Courier New', monospace;">Price</th>
          <th style="font-family: 'Courier New', monospace;">Making Charge</th>
          <th style="font-family: 'Courier New', monospace;">Amount</th>
        </tr>
        <tr *ngFor="let order of orderList; let i = index">
            <td style="font-family: 'Courier New', monospace;"> {{order.description}}</td>
            <td style="font-family: 'Courier New', monospace;"> {{order.weight}} </td>
            <td style="font-family: 'Courier New', monospace;">{{order.price}}</td>
            <td style="font-family: 'Courier New', monospace;">{{order.makingCharge|currency:'INR'}}</td>
            <td style="font-family: 'Courier New', monospace;"> {{order.amount|currency:'INR'}}</td>
        </tr>
      <tr>
          <th></th>
          <th></th>
          <th></th>
          <th style="font-family: 'Courier New', monospace;">Total</th>
          <th style="font-family: 'Courier New', monospace;">{{totalAmount|currency:'INR'}}</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th style="font-family: 'Courier New', monospace;">CGST</th>
        <th style="font-family: 'Courier New', monospace;">{{calculatedCgst |currency:'INR'}}</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th style="font-family: 'Courier New', monospace;">SGST</th>
          <th style="font-family: 'Courier New', monospace;">{{calculatedSgst |currency:'INR'}}</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th style="font-family: 'Courier New', monospace;">Payable</th>
      <th style="font-family: 'Courier New', monospace;">{{totalPayable|currency:'INR'}}</th>
    </tr>
</table>
<div>
  <table class="table">
    <tr>
      <td style="font-family: 'Courier New', monospace">Customer Sign:</td>
      <td style="font-family: 'Courier New', monospace"></td>
      <td style="font-family: 'Courier New', monospace">Salesman Name:</td>
      <td style="font-family: 'Courier New', monospace">Shashikant Koppa</td>
    </tr>
  </table>
</div>

</div>
